<div class="part">
  <h1>Data driven</h1>
  <h2>Clear and strict</h2>
  <app-timeline1 [items]="data1"></app-timeline1>
</div>

<div class="part">
  <h1>Template through data</h1>
  <h2>Flexibile</h2>

  <app-timeline2 [items]="data2"></app-timeline2>
  <ng-template #customTemplate let-item> 🎉🎉🎉{{ item.title }} 🎉🎉🎉</ng-template>
</div>

<div class="part">
  <h1>Template and data separated</h1>
  <h2>Flexibility increased</h2>

  <app-timeline3 [items]="data1">
    <ng-template #title let-item>{{ item.title }}</ng-template>
    <ng-template #content let-item>{{ item.content }}</ng-template>
  </app-timeline3>
</div>

<div class="part">
  <h1>Declarative</h1>
  <h2>API through template</h2>

  <app-timeline4>
    <timeline-item *ngFor="let item of data1">
      <timeline-item-title>*** {{ item.title }}</timeline-item-title>
      <timeline-item-content>Some content</timeline-item-content>
    </timeline-item>
  </app-timeline4>
</div>
