h1 {
  font-weight: normal;
  font-size: 80px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}
h2 {
  margin: 0;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
img {
  width: 70vw;
  margin: auto;
  display: block;
}
